<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kontakt oppdatert</title>
</head>
<body>
  {% if status=="OK" %}
    <h1>Kontakten ble oppdatert</h1>
    <p>{{ contact.givenName }} {{ contact.familyName }} er nå lagret med epost: {{contact.email}} og telefon: {{contact.phone}}</p>
    <p><a href="index.html">Tilbake til hovedsiden</a><p>
  {% else %}
    <h1>Det oppsto en feil</h1>
    <p>Kontanten ble ikke oppdatert, gjorde du ingen endringer?.</p>
    <p><a href="addContact.php">Prøv igjen</a>, <a href="index.html">tilbake til hovedsiden</a></p>
  {% endif %}
</body>
</html>
