<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete User</title>
</head>
<body>
  <h1>Delete User</h1>
  <p><a href="{{ home }}">Tilbake til hovedsiden</a>
</body>
</html>
