<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main page for htaccess/rewrite example</title>
</head>
<body>
  <h1>Welcome to the .htaccess/rewrite example</h1>
  <p>Inspiration for this example is from <a href="{{ source }}" target="_blank">{{ source }}</a></p>
  <p><a href="{{ home }}">Tilbake til hovedsiden</a>
  <ul>
    <li><a href="users">Main users page</a></li>
    <li><a href="users/add">Add user</a></li>
    <li><a href="users/list">List users</a></li>
    <li><a href="users/search">Search users</a></li>
    <li><a href="users/delete">Delete user</a></li>
  </ul>
</body>
</html>
