<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kontakt slettet</title>
</head>
<body>
  {% if status=="OK" %}
    <h1>Kontakten ble slettet</h1>
  {% else %}
    <h1>Det oppsto en feil</h1>
  {% endif %}
</body>
</html>
