<link rel="import" href="./../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./../../bower_components/iron-list/iron-list.html">
<link rel="import" href="./../user-card/user-card.html">

<dom-module id="user-list">
  <template>
    <style>
      :host {
        display: block;
      }
      user-card {
        padding: 5px 0;
        border-bottom: 1px solid grey;
      }
    </style>

    <h1>List of users</h1>
    <iron-list style="height: [[height]]" items="[[users]]" as="user">
    <template>
      <user-card user="[[user]]"></user-card>
    </template>
  </iron-list>
  </template>

  <script>
    /**
     * `user-list`
     * Show a list of users
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Userlist extends Polymer.Element {
      static get is() { return 'user-list'; }
      static get properties() {
        return {
          height: {          // Default height, can be overriden when creating element
            type: String,
            value: '400px'
          },
          users: {
            type: Array
          }
        };
      }
    }

    window.customElements.define(Userlist.is, Userlist);
  </script>
</dom-module>
