<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TV-guide</title>
  <style>
    .schedule {
      display: flex;
      flex-wrap: wrap;
      min-width: 500px;
      max-width: 1060px;
      margin: 0 auto;
    }

    .schedule>div {
      height: 20em;
      width: 15em;
      overflow-y: auto;
      padding-left: 1em;
      box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.75);
      margin: 4px;
    }

    .schedule details {
      display: inline-block;
      vertical-align: text-top;
    }

    .schedule summary {
      display: inline-block;
      width: 10em;
      margin-left: -1em;
      width: 11em;
    }

    .schedule summary:hover {
      font-weight: bold;
    }

    .schedule summary:focus {
      outline: none;
    }

    .schedule summary::-webkit-details-marker {
      background: none;
      color: transparent;
    }

    .schedule details div {
      display: inline-block;
      width: 10.5em;
    }

    /* scrollbar */
    .schedule ::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    .schedule ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    .schedule ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    .schedule ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  </style>
</head>
<body>
  <div class="schedule">
    {% for channel in channels %}
    <div>
      <h2>{{ channel.title }}</h2>
      {% for program in channel.schedule   %}
        <div>
          <span>{{program.startTime}}</span>&nbsp;<details>
            <summary>{{program.title}}</summary>
            <div>{{program.desc}}</div>
          </details>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
