<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">

<dom-module id="polymer-intro">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <paper-input label="Egenskap 1" value="{{prop1}}"></paper-input>

  </template>

  <script>
    /**
     * `polymer-intro`
     * Introduction example to polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PolymerIntro extends Polymer.Element {
      static get is() { return 'polymer-intro'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'polymer-intro'
          },
          prop2: {
            type: Number,
            value: 42
          }
        };
      }
    }

    window.customElements.define(PolymerIntro.is, PolymerIntro);
  </script>
</dom-module>
