<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../my-components/user-list/user-list.html">

<dom-module id="polymer-app-app">
  <template>
    <iron-ajax
    auto
    url="https://randomuser.me/api/?results=500"
    handle-as="json"
    last-response="{{response}}"
    debounce-duration="300"></iron-ajax>
    <style>
      :host {
        display: block;
      }
    </style>
    <user-list height="600px" users="[[response.results]]"></user-list>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PolymerAppApp extends Polymer.Element {
      static get is() { return 'polymer-app-app'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PolymerAppApp.is, PolymerAppApp);
  </script>
</dom-module>
